
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.86;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
  color: #000000;
}

.main-header {
  min-height: 56px;
}

.main-header-nav {
  min-height: 56px;
}

.main-header-logo {
  margin: auto;
  width: 140px;
  height: 71px;
  display: block;
}

.site-navigation {
  margin: 0;
  padding: 0;
  background-color: white;

  list-style: none;

  min-height: 56px;
}

.site-navigation-item {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.empty {
  min-width: 239px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
}

.site-navigation-item:not(:first-child) a:hover {
  color: #81b3d2;
}

.site-navigation-item:not(:first-child) a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item:not(:first-child) a:active {
  color: #766357;
}

.current {
  color: #766357;
}

.main-header-logo {
  position: absolute;
  margin-left: 529px;
  margin-bottom: 100px;
}

.promo {
  background-color: #f1f2f4;
  min-height: 718px;
  background-color: transparent;
}

.promo {
  background-image: url('../img/background-photo.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 1200px;
  background-position-x: center;
  background-position-y: -83px;
}

.promo-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('/1215049-sedona-27/img/polygon.png');
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 1200px;
  background-position-x: center;
  background-position-y: 460px;
}

.promo-polygon-column {
  margin-top: 76px;
  width: 459px;
  min-height: 353px;
  margin-left: auto;
  margin-right: auto;
}

.promo-text-column {
  width: 1200px;
  min-height: 215px;
  margin-top: 79px;
  background-color: white;

}

.promo-text-column-title {
  font-family: inherit;
  width: 440px;
  margin-left: 378px;
  padding-top: 40px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.promo-text-column-paragraph {
  font-family: inherit;
  margin-left: 355px;
  color: #333333;
  line-height: 49px;
}

.advantages-first-row {
  display: flex;
  flex-wrap: wrap;
  background-color: #81b3d2;
  max-height: 256px;
}

.info-block {
  padding-top: 46px;
  min-height: 256px;
  min-width: 400px;
  background-color: #81b3d2;
}

div .advantages-title {
  color: white;
  text-align: center;

}

div .advantages-pharagraph {

  color: white;
  text-align: center;
}

.advantages-second-row {
  display: flex;
  flex-wrap: wrap;
  min-height: 330px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.advantages-item {
  flex-basis: 400px;
  background-color: white;
  min-height: 256px;
  line-height: 0;
}

.advantages-img-first {
  margin-left: 162px;
  padding-top: 60px;
}

.advantages-title {
  line-height: 29px;
  text-align: center;
}

.advantages-pharagraph {
  text-align: center;
  line-height: 1.5;
  letter-spacing: normal;
  color: #333333;
}

.advantages-img-second {
  margin-left: 163px;
  padding-top: 62px;
}

.advantages-img-third {
  margin-left: 168px;
  padding-top: 56px;
}

.advantages-second {
  height: 512px;
}

.block-two .advantages-item {
  max-height: 256px;
  padding-top: 50px;
  min-height: 256px;
  min-width: 400px;
  background-color: #eeeeee;
}

.offer-block {
  font-family: inherit;
  background-color: #ffffff;
  text-align: center;
  height: 291px;
}

.block-position {
  width: 434px;
  margin-left: 383px;
  margin-right: 383px;
  margin-top: 57px;
  margin-bottom: 52px;

}

.block-position-title {
  font-size: 31px;
  line-height: 24px;
  color: #000000;
  padding-top: 57px;
  padding-bottom: 14px;
  margin: 0;
}

.block-position-pharagraph {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.offer-block button {
  margin-top: -4px;
}

.button-brown {
  width: 568px;
  height: 86px;
  background-color: #766357;
  color: #ffffff;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  border: none;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.popup-block {
  display: flex;
  font-family: inherit;
  background-color: white;
  width: 568px;
  height: 395px;
  margin-left: 316px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.data-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.count {
  display: flex;
  margin-bottom: -20px;
  flex-wrap: wrap;
}

.count-adult {
  display: flex;
  margin-left: 0;
}

.count-kid {
  display: flex;
  margin-right: 0;
}

.offers-form {
  font-family: inherit;
  width: 458px;
  height: 285px;

}

.data-in-label {
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

.data {
  flex-basis: 346px;
  height: 38px;
  background-color: #f2f2f2;
  box-shadow: none;
  margin-left: auto;
  margin-bottom: 29px;
}

.minus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.plus {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.numbers {
  width: 38px;
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  text-align: center;
}

.people-adult {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-right: 41px;

}

.people-kids {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;

  color: #000000;
  margin-right: 41px;
  margin-left: 45px;
}

.plus-text {
  text-align: center;
  font-size: 22px;
  color: #a9a9a9;
  font-weight: 700;
}

.minus-text {
  text-align: center;
  font-size: 22px;
  color: #a9a9a9;
  font-weight: 700;
}

.minus-text:hover {
  color: black;
}

.minus-text:active {
  color: #81b3d2;
}

.plus-text:hover {
  color: black;
}

.plus-text:active {
  color: #81b3d2;
}

.find-block {
  display: flex;
  justify-content: center;
  margin-top: 37px;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
}

.find {
  width: 458px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  font-family: inherit;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: #81b3d2;
}

.find:hover {
  background-color: #669ec0;
}

.find:active,
.find:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  width: 1200;
  height: 593px;
  background-position-x: center;

}

.main-footer {
  margin-top: -120px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
 
  /* Временно для сетки */
  height: 120px;
  min-width: 1200px;
}

.contacts {
  min-width: 328px;
  
  margin-left: 72px;
}

.footer-title,
.tel {
  margin-left: 50px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  letter-spacing: normal;
  color: #000000;
}

.socials-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: 124px;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  width: 150px;
  height: 48px;
  
  justify-content: space-between;
}

.socials-item {
  width: 46px;
  height: 48px;
  background-color: rgba(129, 179, 210);
}

.socials-item:hover {
  background-color: rgba(102, 158, 192);
}

.twitter:active,
.fb:active,
.youtube:active {
  opacity: 0.3;
}

.twitter {
  display: block;
  border-top: transparent 14px solid;
  border-bottom: transparent 8px solid;
  border-left: transparent 15px solid;
}

.fb {
  display: block;
  border-top: transparent 13px solid;
  border-bottom: transparent 9px solid;
  border-left: transparent 15px solid;
}

.youtube {
  display: block;
  border-top: transparent 13px solid;
  border-bottom: transparent 9px solid;
  border-left: transparent 15px solid;
}

.copyright {
  margin-left: auto;
  margin-right: 72px;
  display: flex;
  align-items: center;
  min-width: 241px;
}

.copyright-pharagraph {
  margin-left: 15px;
}

.copyright-link {
  margin-right: 101px;
  margin-left: 8px;
}


.main-header-hotel-nav {
  min-height: 56px;
}

.site-navigation-item-hotel {
  margin: auto;
}

.site-navigation-item-hotel:not(:last-child) a:hover {
  color: #81b3d2;
}

.site-navigation-item-hotel:not(:last-child) a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item-hotel:not(:last-child) a:active {
  color: #766357;
}

.current-hotel {
  color: #766357;
}

.main-choice {
  background-image: url('../img/filter-background.jpg');
  background-color: #81b3d2;
  background-size: auto;
  background-repeat: no-repeat;
  min-width: 1200px;
  background-position-x: center;
  background-position-y: -294px;
}

.filter {
  display: flex;
  height: 217px;
  color: white;
  flex-basis: 1200px;
}

.hotel-fieldset {

  border: none;
}

.infrastructure {
  min-width: 245px;

}

.types-of-houseroom {
  min-width: 245px;
}

.cost-per-day {
  width: 400px;
  margin-left: auto;

}

.legend-infrastructure {
  font-size: 16px;
  font-weight: bold;
  line-height: 47px;
  margin-left: 57px;
  margin-top: 14px;
}

.first-list {
  display: flex;
  flex-direction: column;
  margin-top: -8px;


  justify-content: space-between;
  margin-left: 35px;

  list-style: none;

  height: 117px;
}

.legend-types-of-houseroom {
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;
  margin-left: 62px;
}

.second-list {
  display: flex;
  flex-direction: column;
  margin-top: -8px;
  margin-left: 43px;
  justify-content: space-between;
  list-style: none;
  height: 117px;
}

.legend-cost-per-day {
  margin-left: 1px;
  font-size: 16px;
  font-weight: bold;
  line-height: 48px;

}

.third-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 314px;
  list-style: none;
  margin-left: 1px;
  padding-left: 0;
}

.box {
  width: 159px;
  height: 36px;

  background-color: transparent;
  color: #ffffff;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.box-item {
  margin-top: -36px;
}

.range-item {
  width: 318px;
}

.range {
  margin-left: 100px;
  margin-top: 11px;
}

.third-item-bottom {
  margin-top: 13px;
  margin-left: 86px;
}

.button-show {
  font-family: inherit;
  text-transform: uppercase;
  background-color: transparent;
  border: solid 2px #ffffff;
  border-radius: 2px;
  color: #ffffff;
  width: 136px;
  height: 37px;
}

.button-show:hover {
  background-color: #ffffff;
  color: black;
}

.main-sort {
  display: flex;
  background-color:#ffffff;
  min-width: 1200px;
  height: 87px;
  border-bottom: 1px solid #e5e5e5;

}

.description-conteiner {
  display: flex;
  justify-content: baseline;
  min-width: 240px;
  margin-left: 72px;
}

.description-title {
  color: rgb(0, 0, 0);
  font-size: 21px;
  font-weight: bold;

  align-self: center;


}

.description-pharagraph {
  font-size: 12px;
  margin-top: 33px;
  margin-left: auto;
}

.sort-list {
  display: flex;

  min-width: 287px;
  height: 87px;
  margin-top: 0;
}

.sort-item {
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.selected,
.unselected {
  font-size: 12px;
  margin-left: auto;
}

.selected {
  color: #81b3d2;
}

.unselected {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.unselected:hover {
  color: #81b3d2;
}

.unselected:active {
  color: black;
  border: none;
}

.sort-arrow {
  display: flex;

  list-style: none;

  justify-content: flex-end;
  width: 287px;
  margin-top: 0;
  margin-left: auto;
  margin-right: 72px;
  height: 87px;
}



.arrow-item-up {

  
  width: 11px;
  height: 10px;
  margin-left: 213px;
  margin-top: auto;
  margin-bottom: auto;
}

.arrow-item-down {
  width: 11px;
  height: 10px;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}

.arrow-up {
  fill: #cacaca;
}

.arrow-down {
  fill: #81b3d2;
}

.arrow-up:hover,
.arrow-down:hover {
  fill: black;
}

.arrow-up:active,
.arrow-down:active {
  fill: #81b3d2;
}

.hotel {
  display: flex;
  background-color:#ffffff;
  height: 151px;
  border-bottom: 1px solid #e5e5e5;
  justify-content: center;
}

.left-part-hotel {
  display: flex;
  flex-basis: 528px;
}

.hotel-image {
  width: 135px;
  height: 90px;
  margin-top: auto;
  margin-bottom: auto;
}

.hotel-text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  
  width: 258px;
  height: 90px;
  margin-top: auto;
  margin-bottom: auto;
}

.hotel-title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-top: -5px;
  min-width: 210px;
}

.paragraph-hotel-first,
.paragraph-hotel-second {
  font-size: 14px;
  margin-top: -12px;
  color: rgb(51, 51, 51);
}

.paragraph-hotel-second {
  margin-left: 39px;
}



.link-hotel-first,
.link-hotel-second {
  display: block;
}

.link-hotel-first {
  width: 110px;
  height: 27px;
  background-color:#81b3d2;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  
}

.text-hotel-first {
  margin-top: 3px;
}

.link-hotel-second {
  width: 142px;
  height: 27px;
  background-color:#766357;
  color: #ffffff;
  text-align: center;
  margin-top: auto;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  margin-left: auto;
}

.link-hotel-first:hover{
  background-color: #669ec0;
}

.link-hotel-first:active{
  color:rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.link-hotel-second:hover{
  background-color: #604e43;
}

.link-hotel-second:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.right-part-hotel {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 528px;
  height: 90px;
}

.star-list {
  display: flex;
  margin-left: auto;
  
  list-style: none;
  padding: 0;
  width: 89px;
  height: 17px;
  margin-top: 0;
}

.star-second {
  margin-left: 6px;
}

.star-third {
  margin-left: 6px;
}

.star-fourth {
  margin-left: 6px;
}

.raiting {
  margin-left: auto;
  font-family: inherit;
  text-align: center;
  margin-top: 41px;
  font-size: 14px;
  color: rgb(102, 102, 102);
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
}

.main-footer-hotel {
  display: flex;
  background-color: #ffffff;
  width: 1200px;
  height: 120px;
}